{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeDetailController!{% endblock %}

{% block body %}
<section class='container mt-5'>
    <div>{{ programme.contenu|raw }}</div>
</section>
{% endblock %}
